body
{
    margin: 0;
    font-family: 'Poppins', sans-serif
}

html
{
    background: #e2e2e2
}

p, blockquote
{
font-size: .9em;
line-height: 1.6em;
}

.container
{
  text-align: center;
  padding: .8em 1.2em ;
}

.header-container
{
  text-align: center;
  padding: .8em 1.2em ;
}

.weworshipsoham:hover {
    background-color: #4CAF50;
    color: white;
}

.logo
{
    width: 70%px;
}

.hide-mobile
{
    display: none;
}

.car
{
    width:60%;
    text-align: center;
}

h1, .subheading
{
    position: relative;
}

.subheading
{
    font-size: 1.1em;
}

.green-container
{
    width: 100%;
    background: #00FFB0;
    color: #fff;
    margin-top: 15%;
    padding: 4em 0 2em;
    border-radius: 40px;
}

.green-container::before
{
    content: "";
    width: 40px;
    height: 40px;
    background-color: #00FFB0;
    position: absolute;
    top: -5px;
    right: 0;
    z-index: -2;
    margin-bottom: 20px;
}

.green-container::after
{
    content: "";
    width: 80px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    right: 0;
    border-radius: 50%;
    z-index: -1;
    margin-bottom: 20px;
}

h2
{
    margin-top: 4%;
    font-size: 2.5em;
}

h3
{
    margin-bottom: 4%;
    font-size: 1.2em;
}


.footer-container
{
    width: 100%;
    background-color: #3D444A;
    color: #fff;
    padding: 3em 0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}


.footer-container::before
{
    content: "";
    width: 40px;
    height: 40px;
    background-color: #3D444A;
    position: absolute;
}

* {margin: 0; padding: 0;}

.container {
	padding: 10px;
	text-align: center;
}

.timer {
	padding: 10px;
	background: linear-gradient(top, #222, #444);
	overflow: hidden;
	display: inline-block;
	border: 7px solid #efefef;
	border-radius: 5px;
	position: relative;
	
}

.cell {
	/*Should only display 1 digit. Hence height = line height of .numbers
	and width = width of .numbers*/
	width: 0.60em;
	height: 40px;
	font-size: 50px;
	overflow: hidden;
	position: relative;
	float: left;
}

.numbers {
	width: 0.6em;
	line-height: 40px;
	font-family: digital, arial, verdana;
	text-align: center;
	color: #fff;
	
	position: absolute;
	top: 0;
	left: 0;
	
}

/*Styles for the controls*/
#timer_controls {
	margin-top: -5px;
}
#timer_controls label {
	background: #383030;
    width: calc(100% - 1em);
    display: block;
    color: #fff;
    border-radius: 20px;
    padding: .5em;
    text-decoration: none;
    font-size: 1.5em;
    margin: 3% auto 7%;
}
input[name="controls"] {display: none;}

/*Control code*/
#stop:checked~.timer .numbers {animation-play-state: paused;}
#start:checked~.timer .numbers {animation-play-state: running;}
#reset:checked~.timer .numbers {animation: none;}

.moveten {
	/*The digits move but dont look good. We will use steps now
	10 digits = 10 steps. You can now see the digits swapping instead of 
	moving pixel-by-pixel*/
	animation: moveten 1s steps(10, end) infinite;
	/*By default animation should be paused*/
	animation-play-state: paused;
}
.movesix {
	animation: movesix 1s steps(6, end) infinite;
	animation-play-state: paused;
}

/*Now we need to sync the animation speed with time speed*/
/*One second per digit. 10 digits. Hence 10s*/
.second {animation-duration: 10s;}
.tensecond {animation-duration: 60s;} /*60 times .second*/

.milisecond {animation-duration: 1s;} /*1/10th of .second*/
.tenmilisecond {animation-duration: 0.1s;}
.hundredmilisecond {animation-duration: 0.01s;}

.minute {animation-duration: 600s;} /*60 times .second*/
.tenminute {animation-duration: 3600s;} /*60 times .minute*/

.hour {animation-duration: 36000s;} /*60 times .minute*/
.tenhour {animation-duration: 360000s;} /*10 times .hour*/

@keyframes moveten {
	0% {top: 0;}
	100% {top: -400px;} 
	/*height = 40. digits = 10. hence -400 to move it completely to the top*/
}

@keyframes movesix {
	0% {top: 0;}
	100% {top: -240px;} 
	/*height = 40. digits = 6. hence -240 to move it completely to the top*/
}